__pycache__/
*.py[cod]
.DS_Store
.vscode/

.venv/
venv/

outputs/
wandb/
runs/
checkpoints/

*.safetensors
*.bin
*.pt
*.pth

data/raw/
data/cache/
data/interim/
data/processed/sft/
data/processed/rl/
data/processed/eval/
